@model IEnumerable<ETicaretASPNET.Models.Entity.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">
    <!-- Topbar -->
    
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tablolar</h1>
       
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            
            <div class="card-body">


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Açıklama</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Açıklama</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("Edit",new { id = item.CategoryID })"><i class="fa fa-fw fa-edit"></i>Düzenle</a>
                                        <a class="btn btn-danger" href="@Url.Action("Delete",new { id = item.CategoryID })"><i class="fa fa-fw fa-trash"></i>Sil</a>


                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a class="btn btn-info" href="@Url.Action("Create")">Yeni Kayıt</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>


